<nav class="navbar">
  <div class="container">
    <a class="navbar-logo" routerLink="/">Portal de Videojuegos</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videojuegos" routerLinkActive="active">Videojuegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nuevo-videojuego" routerLinkActive="active">Añadir Videojuego</a>
        </li>
      </ul>
  </div>
</nav>